.card{

}

.card_picture{
    padding: 0 20px;
    margin-bottom: 16px;
}

.card_picture img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.card_name{
    composes: text text_type_main-medium from global;
    text-align: center;
}

.card_info_items{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
}

.card_info_item{
    text-align: center;
}

.card_info_name{
    composes: text text_type_main-default text_color_inactive from global;
    margin: 0 0 8px;
    font-size: 16px;
    line-height: 24px;
}


.card_info_value{
    composes: text text_type_main-default text_color_inactive from global;
    margin: 0;
    font-size: 28px;
    line-height: 24px;
}

.card_detail_page {
    margin: 120px auto;
}

.card_detail_title{
    text-align: center;
    composes: text text_type_main-large from global;
    margin-bottom: 24px;
}