.burger_ingredient {
    margin: 40px 0;
    position: relative;
}

.burger_ingredient_title {
    composes: text text_type_main-large from global;
    margin-bottom: 20px;
}

.burger_ingredient_tabs {
    display: flex;
}

.burger_ingredient_items {
    composes: custom-scroll from global;
    margin-top: 40px;
    overflow-y: auto;
    max-height: 750px;
    scrollbar-gutter: stable both-edges;
}